<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Calculator</title>
    <script type="text/javascript" src="build/bower.js"></script>
    <script type="text/javascript" src="src/app.js"></script>
    <link rel="stylesheet" href="build/bower.css">
</head>
<body ng-app="loanCalculator" ng-controller="LoanCtrl">
    <div layout="column" class="inputdemoBasicUsage">
        <md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">
            <md-input-container>
                <label>Amount:</label>
                <input ng-model="m.totalAmount">
            </md-input-container>
            <md-input-container>
                <label>Rate(%):</label>
                <input type="number" ng-model="m.rate">
            </md-input-container>
            <md-input-container>
                <label>TR(%):</label>
                <input type="number" ng-model="m.TR">
            </md-input-container>    
            <md-input-container>
                <label>Number Payment:</label>
                <input type="number" ng-model="m.numberPayment">
            </md-input-container>
        </md-content>
    </div>
</body>
</html>